@model Trilho

<!-- ICONS -->
<td style="max-width:7em">
    <a asp-action="Editar" asp-route-id="@Model.TrilhoID" class="btn btn-default" style="margin-bottom:0.2em">
        <em class="fa fa-pencil"></em>
    </a>
    <a asp-action="Desativar" asp-route-id="@Model.TrilhoID" class="btn btn-danger" style="margin-bottom:0.2em">
        <em class="fa fa-trash"></em>
    </a>

    <a asp-action="EditarEstado" asp-route-id="@Model.TrilhoID" class="btn btn-primary" style="margin-bottom:0.2em">
        <em class="fa fa-pencil"></em>
    </a>

    <a asp-action="Detalhes" asp-route-id="@Model.TrilhoID" class="btn btn-default" style="margin-bottom:0.2em">
        <em class="glyphicon glyphicon-th-list"></em>
    </a>


    @*<a class="btn btn-default" style="margin-bottom:0.2em"><em class="fa fa-pencil"></em></a>
        <a class="btn btn-danger" style="margin-bottom:0.2em"><em class="fa fa-trash"></em></a>
        <a class="btn btn-default list-group-item"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>*@
</td>

<td >@Html.DisplayFor(modelItem => Model.Nome)</td>
<td >@Html.DisplayFor(modelItem => Model.Inicio)</td>
<td >@Html.DisplayFor(modelItem => Model.Fim)</td>

@*<td style="width:16em">
    @if (Model.Sumario.Length > 151) // Nota: Na BD Sumario:VARCHAR(size) tem > que Remove(size)
    {
        @Model.Sumario.Remove(150); <span>...</span>
    }
    else
    {
        @Model.Sumario;
    }
</td>

<td style="width:16em">
    @if (Model.Detalhes.Length > 151)
    {
        @Model.Detalhes.Remove(150); <span>...</span>
    }
    else
    {
        @Model.Detalhes;
    }
</td>*@

<td>@Html.DisplayFor(modelItem => Model.Distancia) <span>Km</span></td>
<td align="center"><img src=" @Model.Foto" style="width:7em; height:7em; padding-bottom:1em" /> </td>
<td align="center">@Html.DisplayFor(modelItem => Model.Desativado)</td>
<td >@Html.DisplayFor(modelItem => Model.Dificuldade.Nome)</td>