@model ViewModelTrilho

@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />
<br />

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Trilho</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoNome" class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoNome" class="form-control" />
                <span asp-validation-for="@Model.TrilhoNome" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoInicio" class="col-md-2 control-label">Inicio</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoInicio" class="form-control" />
                <span asp-validation-for="@Model.TrilhoInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoFim" class="col-md-2 control-label">Fim</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoFim" class="form-control" />
                <span asp-validation-for="@Model.TrilhoFim" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoSumario" class="col-md-2 control-label">Sumario</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoSumario" class="form-control" />
                <span asp-validation-for="@Model.TrilhoSumario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoDetalhes" class="col-md-2 control-label">Detalhes</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoDetalhes" class="form-control" />
                <span asp-validation-for="@Model.TrilhoDetalhes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoDistancia" class="col-md-2 control-label">Distancia</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoDistancia" class="form-control" />
                <span asp-validation-for="@Model.TrilhoDistancia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TrilhoFoto" class="col-md-2 control-label">Foto</label>
            <div class="col-md-10">
                <input asp-for="@Model.TrilhoFoto" class="form-control" />
                <span asp-validation-for="@Model.TrilhoFoto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label asp-for="@Model.TrilhoDesativado">Desativado</label>
                    <input asp-for="@Model.TrilhoDesativado" />
                </div>
            </div>
        </div>
        <!-- viewBag recebe valores do tipo ViewData["DificuldadeID"] em runTime seleccionados da B.D. -->
    </div>
    <div class="form-group">
        <label asp-for="@Model.DificuldadeID" class="col-md-2 control-label">Dificuldade</label>
        <div class="col-md-10">
            <select asp-for="@Model.DificuldadeID" class="form-control" asp-items="ViewBag.DificuldadeID"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EstadoID" class="col-md-2 control-label">Estado</label>
        <div class="col-md-10">
            <select asp-for="@Model.EstadoID" class="form-control" asp-items="ViewBag.EstadoID"></select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
