@model IEnumerable<Trilho>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />
<br />

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sumario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desativado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dificuldade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fim)
                </td>
                <!-- redimensionar coluna e n. de carateres por coluna -->
                <td style="width:16em">
                    @if (item.Sumario.Length > 91) // Sumario.Length(q está na BD) tem > que Remove(index)
                    {
                        @item.Sumario.Remove(90); <span>...</span>
                    }
                    else
                    {
                        @item.Sumario;
                    }
                </td>
                <!-- redimensionar coluna e n. de carateres por coluna -->
                <td style="width:16em">
                    @if (item.Detalhes.Length > 91)
                    {
                        @item.Detalhes.Remove(90); <span>...</span>
                    }
                    else
                    {
                        @item.Detalhes;
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Distancia) <span>Km</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desativado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dificuldade.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrilhoID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TrilhoID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TrilhoID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
