@model IEnumerable<Trails4Health.Models.QuestaoAvaliacaoTrilho>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutBackoffice";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeQuestao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desactivada)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeQuestao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desactivada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
