@model IEnumerable<Trails4Health.Models.RespostaAvaliacao>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutEstatisticas";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Avaliar Guia</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Data da Resposta
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Guia)
            </th>
            <th>
                Avaliação
            </th>
            <th>
                Questão
            </th>
            <th>
                Turista
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guia.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opcao.OpcaoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questao.NomeQuestao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turista.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RespostaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RespostaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RespostaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
