@model Trilho

@{
    ViewData["Title"] = "Desativar";
}


@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />
<hr />
<div class="text-uppercase panel-heading" style="margin-bottom:1em; font-size:large">
    <h2>Desativar <strong style="margin-left:0.1em"> @Html.DisplayFor(model => model.Nome) ?</strong></h2>
</div>
<hr />
<br />
<div>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="@Model.Foto" alt="">
        </div>
    </div>
    <hr />
    <dl class="panel-heading">
        <dt>
            Nome
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Inicio
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            Fim
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt>
            Sumario
        </dt>
        <!-- redimensionar dd(descrition-definition) -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.Sumario)
        </dd>
        <dt>
            Detalhes
        </dt>
        <!-- redimensionar dd(descrition-definition)  -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt>
            Distancia
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Distancia) <span>Km</span>
        </dd>
        <dt>
            Foto
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            Desativado
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Desativado)
        </dd>
        <dt>
            Dificuldade
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
    </dl>
</div>

<form asp-action="Desativar">
    <div class="form-actions no-color">
        <input type="submit" value="Desativar" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</form>

