@model ViewModelTrilho

@{
    ViewData["Title"] = "Detalhes";
}

@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />

<hr />
<div class="text-uppercase panel-heading" style="margin-bottom:1em; font-size:large">
    <h2>Detalhes <strong style="margin-left:0.1em"> @Html.DisplayFor(model => model.TrilhoNome) </strong></h2>
</div>
<hr />
<br />
<div>  
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="@Model.TrilhoFoto" alt="">
        </div>
    </div>
    <hr />
    <dl class="panel-heading">
        <dt>
            Nome
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoNome)
        </dd>
        <dt>
            Inicio
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoInicio)
        </dd>
        <dt>
            Fim
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoFim)
        </dd>
        <dt>
            Sumario
        </dt>
        <!-- redimensionar dd(descrition-definition) -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoSumario)
        </dd>
        <dt>
            Detalhes
        </dt>
        <!-- redimensionar dd(descrition-definition) -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDetalhes)
        </dd>
        <dt>
            Distancia
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDistancia) <span>Km</span>
        </dd>
        <dt>
            Foto
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoFoto)
        </dd>
        <dt>            
            Desativado
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDesativado)
        </dd>
        <dt>
            Dificuldade
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
    </dl>
</div>
<div class="panel-heading">
    <table class="table table-striped table-bordered table-list ">
        <thead>
            <tr align="center">               
                <th>Estado</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EstadoTrilhos)
            {
                if (item.TrilhoID == Model.TrilhoID)
                {
                <tr>
                    @if (item.EstadoID == 1)
                    {
                         <td>Aberto</td>
                    }
                    else
                    {
                        <td>Fechado</td>
                    }

                    <!-- Se DataInicio nula-->
                     @if (item.DataInicio == new DateTime(0001, 01, 01)) 
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@item.DataInicio</td>
                    }
                    <!-- Se DataFim nula-->
                    @if (item.DataFim == new DateTime(0001, 01, 01))
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@item.DataFim</td>
                    }                
                </tr>
                }
            }
        </tbody>
    </table>

</div>

<div class="panel-heading" style="margin-top:2em">
    <a asp-action="Editar" asp-route-id="@Model.TrilhoID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>
