@model Trilho

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />

<hr />
<div class="text-uppercase panel-heading" style="margin-bottom:1em; font-size:large">
    Detalhes <strong style="margin-left:0.1em"> @Html.DisplayFor(model => model.Nome) </strong>
</div>
<hr />
<div>  
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="@Model.Foto" alt="">
        </div>
    </div>
    <hr />
    <dl class="panel-heading">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sumario)
        </dt>
        <!-- redimensionar coluna -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.Sumario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <!-- redimensionar coluna -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distancia) <span>Km</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desativado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desativado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Estado.)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dificuldade.DificuldadeID)
            </dd>*@
    </dl>
</div>
<div class="panel-heading">
    <table class="table table-striped table-bordered table-list ">
        <thead>
            <tr align="center">               
                <th>Estado</th>
                <th>Data Inicio</th>
                <th>Data Fim</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<td>@Html.DisplayFor(modelItem => item.Nome)</td>*@
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                @*<td>@Html.DisplayFor(modelItem => item.Nome)</td>*@
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="panel-heading" style="margin-top:2em">
    <a asp-action="Editar" asp-route-id="@Model.TrilhoID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>
