@model ViewModelTrilho

@{
    ViewData["Title"] = "Erro Nome Trilho";
}


@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />
<hr />
<div class="text-uppercase panel-heading" style="margin-bottom:1em; font-size:large">
    <h2>@Model.TrilhoNome <strong style="margin-left:0.1em"> já existe!!</strong></h2>
    <h4>Escolha outro <strong style="margin-left:0.1em">nome</strong></h4>
</div>
<hr />
<br />
<div>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="@Model.TrilhoFoto" alt="">
        </div>
    </div>
    <hr />
    <dl class="panel-heading">
        <dt>
            Nome
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoNome)
        </dd>
        <dt>
            Inicio
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoInicio)
        </dd>
        <dt>
            Fim
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoFim)
        </dd>
        <dt>
            Sumario
        </dt>
        <!-- redimensionar dd(descrition-definition) -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoSumario)
        </dd>
        <dt>
            Detalhes
        </dt>
        <!-- redimensionar dd(descrition-definition)  -->
        <dd style="width:66em;margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDetalhes)
        </dd>
        <dt>
            Distancia
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDistancia) <span>Km</span>
        </dd>
        <dt>
            Foto
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoFoto)
        </dd>
        <dt>
            Desativado
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.TrilhoDesativado)
        </dd>
        <dt>
            Dificuldade
        </dt>
        <dd style="margin-bottom:1em">
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
    </dl>
</div>

<form asp-action="Criar">
    <div class="form-actions no-color">
        <input type="submit" value="Voltar" class="btn btn-primary" /> |
    </div>
</form>


