@model ViewModelListaTrilhos
@{
    ViewData["Title"] = "Lista Trilhos";
}

@{
    Layout = "_LayoutListaTrilhos";
}


@foreach (Trilho T in Model.ListaTrilhos)
{
<div class="panel-body">
    @{
        var base64 = Convert.ToBase64String(T.ImagemTrilho);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <img class="img-fluid mb-4 mb-lg-0" src="@imgSrc" alt="">
    <div style="margin-left:1em">
        <h3>@T.Nome</h3>
        <p>@T.Inicio - @T.Fim</p>
        <p>Distancia: @T.Distancia Km</p>
    </div>
    @if (T.Desativado)
    {
        <a asp-action="Editar" asp-route-id="@T.TrilhoID" class="btn btn btn-danger"> DESATIVADO <strong>EDITAR</strong></a>
    }

</div>
}
<!--Pagination-->
<div page-model="@Model.InfoPaginacao"
     css-classes-enabled="true"
     css-class-page="btn btn-sm"
     css-class-page-normal="btn-default"
     css-class-page-selected="btn-primary"
     class="pull-right">
</div>
