@model ViewModelListaTrilhos
@{
    ViewData["Title"] = "List";
}

@{
    Layout = "_LayoutListaTrilhos";
}



@foreach (Trilho T in Model.Trilho)
{ 
<div class="panel-body">

    <img class="img-fluid mb-4 mb-lg-0" src="@T.Foto" alt="">
    <h3>@T.Nome</h3>
    <p>@T.Inicio - @T.Fim</p>
    <p>Distancia: @T.Distancia Km</p>

    @if (T.Desativado)
    {
      <a asp-action="Editar" asp-route-id="@T.TrilhoID" class="btn btn btn-danger"> DESATIVADO <strong>EDITAR</strong></a>
    }

</div>
}
<!--Pagination-->
<div page-model="@Model.InfoPaginacao"
     css-classes-enabled="true"
     css-class-page="btn btn-sm"
     css-class-page-normal="btn-default"
     css-class-page-selected="btn-primary"
     class="pull-right">
</div>
