@model IEnumerable<Trails4Health.Models.ReservaGuia>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutBackoffice";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservaParaDia)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Guia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trilho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaParaDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guia.GuiaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trilho.Detalhes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turista.TuristaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
