@model ViewModelListaTrilhos
@{
    ViewData["Title"] = "Lista Trilhos";
}

@{
    Layout = "_LayoutListaTrilhos";
}


@foreach (Trilho T in Model.Trilho)
{

    <div style="margin-top:5em">
        <div class="col-lg-4" style="padding-left:4em">
            <div class="col-lg-12">
                <img class="img-fluid mb-4 mb-lg-0" src="@T.Foto" alt="" style="width:21em; height:16em">
            </div>
            <div>
                @if (T.Desativado)
                {
                    <div class="col-lg-12" style="margin-top:1em; margin-bottom:1em">
                        <a asp-action="Editar" asp-route-id="@T.TrilhoID" class="btn btn btn-danger"> DESATIVADO <strong>EDITAR</strong></a>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-2" style="padding-left:2em">
            <dl class="panel-heading">
                <dt>
                    Nome
                </dt>
                <dd style="margin-bottom:1em">
                    @T.Nome
                </dd>
                <dt>
                    Inicio
                </dt>
                <dd style="margin-bottom:1em">
                    @T.Inicio
                </dd>
                <dt>
                    Fim
                </dt>
                <dd style="margin-bottom:1em">
                    @T.Fim
                </dd>

                <dt>
                    Distancia
                </dt>
                <dd style="margin-bottom:1em">
                    @T.Distancia <span>Km</span>
                </dd>

            </dl>
        </div>
    </div>
}

<!--Paginação-->
<div page-model="@Model.InfoPaginacao"
     css-classes-enabled="true"
     css-class-page="btn btn-sm"
     css-class-page-normal="btn-default"
     css-class-page-selected="btn-primary"
     class="col-lg-12 panel-heading" style="margin-bottom:4em; margin-left:4em;">
</div>
