@model Trilho

@{
    ViewData["Title"] = "Details";
}

@{
    Layout = "_LayoutBackOffice";
}

<h2>Details</h2>

<div>
    <h4>Trilho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sumario)
        </dt>
        <!-- redimensionar coluna -->
        <dd style="width:50em">
            @Html.DisplayFor(model => model.Sumario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <!-- redimensionar coluna -->
        <dd style="width:50em">
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distancia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distancia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desativado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desativado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dificuldade.DificuldadeID)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrilhoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
